body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #C0C0C0;
  height: 90px;

}
.header-logo {
  font-size: 45px;
  color: #000080;
  float: left;
}
.header-list li{
  float: left;
  padding: 20px 40px;
}


.main {
  height: 2600px;
  width: 850px;
}
.main h1{
  padding: 15px;
  border-bottom:2px solid #dee7ec;
  margin-bottom: 50px;
}
.member1 {
  height: 250px;
  width: 400px;
  background-color: #808000;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}
.member2 {
  height: 250px;
  width: 400px;
  background-color: #808000;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}
.member3 {
  height: 250px;
  width: 400px;
  background-color: #808000;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}
.member4 {
  height: 250px;
  width: 400px;
  background-color: #808000;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}


.footer {
  height: 60px;
  background-color: #008080;
}
